# Compiled Object files
*.o

# Executables
*.exe

# Solution files
_workspace/*

# Saved solution files
_saved/*

# Visual code stuff
.vscode/*

# Tmp folder
_/tmp/*
!_/tmp/.gitkeep

# Configuration
_/config.txt
_/settings.txt

# Ignore all users except default
_/users/*
!_/users/default
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
