# Compiled Object files
*.o

# Executables
*.exe

# Solution files
/_sol/*

# Saved solution files
/_saved/*

# Visual code settings
.vscode/settings.json

# Saved solution (in case precompiler fails)
_/tmp/1.cpp
