# Compiled Object files
*.o

# Executables
*.exe

# Solution files
/_sol/*

# Saved solution files
/_saved/*

# Visual code settings
.vscode/settings.json

# Tmp folder
_/tmp/*
!_/tmp/.gitkeep

# Configuration
_/config.txt
_/settings.txt
